<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
    <!--<title></title>-->
</head>
<!--<link rel="stylesheet" href="./jquery.mobile-1.4.5/jquery.mobile-1.4.5.css">-->
<link rel="stylesheet" href="../css/details.css">
<body>
<div  id="detailPage">
    <!--<div   class="headerDiv" data-position="fixed">-->
     <!--<div><span onclick="back()">back</span><span>Music</span><span>research</span></div>-->
    <!--</div>-->
    <div  class="contentDiv">
        <div><img src="../<%=myTitle[0].i_pictop%>" alt="" width="100%"/></div>
        <div class="conDiv">
            <h1><%=myTitle[0].i_title%></h1>
            <p><%=myTitle[0].i_titlespecific%></p>
            <p><%=myTitle[0].i_time%></p>
            <div><img src="../<%=myTitle[0].i_authorpic%>" alt=""/><span><%=myTitle[0].i_authorname%></br>BuzzFeed Staff</span></div>
        </div>
        <div>
            <img src="../<%=myTitle[0].i_piccenter%>" alt="" width="100%"/>
            <p>Macey J. Foronda and Jenna Williams for BuzzFeed</p>
        </div>
        <div>
            <p><%=myTitle[0].i_contentone%></p>
            <h2>“Don’t know what we were laughing about — ohhh mercy.”</h2>
            <div><img src="../<%=myTitle[0].i_picdown%>" alt="" width="100%"/></div>
            <p><%=myTitle[0].i_contenttwo%></p>
         </div>
        <div>
            <div><span>20</span><span>20</span><span>20</span><span>20</span><span>20</span></div>
            <div><span>♥</span><span>CYTE</span><span>LOL</span><span>OMG</span><span>YAASS</span></div>
        </div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="./js/jquery-2.1.4.js"></script>-->
<!--<script type="text/javascript" src="./jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>-->
</html>